<!DOCTYPE html>
<html>
  <head>
    <title>RanchActivities</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= render 'layouts/sidebar' %>
      <%= yield %>
    </main>
  </body>
</html>
